n8n-CarrierGuide-main-workflow.json
{
  "name": "careerGuide",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Webhook1').item.json.body.email }}",
        "subject": "=Carrier Path for you",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -432,
        -112
      ],
      "id": "9793156d-9fd3-4e90-976f-c020c1909824",
      "name": "Send a message",
      "webhookId": "8b90c2e9-c702-47cc-85ef-edcc7e07eb5c",
      "credentials": {
        "gmailOAuth2": {
          "id": "iZMzsiNf8Sm2zzdb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=I am from organization \"Summer Shool\"\nHere is a person named {{ $('Webhook1').item.json.body.Name }} who has interest in {{ $('Webhook1').item.json.body.Interests }} and has current education qualifications as {{ $('Webhook1').item.json.body.education }}. Suggest a carrier path and roadmap for him. Also asign an approariate mentor to {{ $('Webhook1').item.json.body.Name }}.\nList of mentors = [{{ $json.toJsonString() }}\n\nOnly Generate the email body that i HTML and that I can send to {{ $('Webhook1').item.json.body.Name }} describing his carrier path and assigned approprate mentor.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -848,
        -112
      ],
      "id": "a07b95a8-e225-4c61-b36b-7a4dbc41b75b",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "QADdVaNEax2mH2Tl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5670d056-1fce-499e-96cc-d3a853c0f048",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1248,
        -112
      ],
      "id": "3a351ab6-90c0-48ec-8286-cb82468432a1",
      "name": "Webhook1",
      "webhookId": "5670d056-1fce-499e-96cc-d3a853c0f048"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EsiKlIhzz87kqUL5",
          "mode": "list",
          "cachedResultName": "FetchMentors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -112
      ],
      "id": "cf4fdb78-4e17-455c-a7ad-7231a5fb628a",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84e4508b-73eb-43ea-9828-1b67e0dbf079",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20d456a383494ab80065076915b79272bf309795b3403d848bc15e1f0a189ade"
  },
  "id": "s1muVUz9VyDP3xgD",
  "tags": []
}
